@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#display {
    font: bold 70pt 'Rock Salt', Arial;
    text-align: center; 
    cursor: pointer; 
    margin-top: -70px;  
}

.simbolos{
    width: 150px;
    font-size: 100pt;
}

#rei{
    transform: rotate(340deg);
}

#rainha{
    transform: rotate(20deg);
}

.container {
    height: 100vh;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.textBox{
    width: 250px;
    margin: 0 90px;
    padding: 10px;
    background-color: rgba(68, 34, 85, 0.404);
    border: none;
    border-radius: 15px;
    text-align: center;
    color: #fff;
}
.botao {
    font: bold 0.9em Arial;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgba(95, 158, 160, 0.493);
    width: 150px;
    cursor: pointer;
    
}
.botao:hover {
    background-color: rgba(0, 255, 255, 0.548);
}

.textBox:hover{
    border: solid 1px #fff;    
}